name: artifact

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  upload-artifact:
    runs-on: ubuntu-latest
    env:
      ARTIFACT-NAME: meu-artefato
    steps:
      - uses: actions/checkout@v2
      - name: Upload artifact
        uses: actions/upload-artifact@v2.2.2
        with:
            name: ${{env.ARTIFACT-NAME}}
            path: .
            if-no-files-found: error
