name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    name: first job
    steps:
    - run: date
  job2:
    runs-on: windows-latest
    name: second job
    steps:
    - run: date
  job3:
    runs-on: macos-latest
    name: third job
    steps:
    - run: date
  job4:
    runs-on: ubuntu-latest
    needs: [job1, job2, job3]
    name: last job
    steps:
    - run: date
