# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build local-library-turma-hig

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2

    - name: Set up Node.js version
      uses: actions/setup-node@v1
      with:
        node-version: '14.x'

    - name: npm install, build, and test
      run: |
        npm install
        npm run build --if-present
        npm run test --if-present

    - name: Upload artifact for deployment job
      uses: actions/upload-artifact@v2
      with:
        name: node-app
        path: .
  
  run-linters:
    name: Run linters
    runs-on: ubuntu-latest

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 14
      
      - name: Install Node.js dependencies
        run: npm ci

      - name: Run linters
        uses: wearerequired/lint-action@v1
        with:
          eslint: true
          prettier: true

  deploy-hmg:
    runs-on: ubuntu-latest
    needs: run-linters
    environment:
      name: 'HOM'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v2
      with:
        name: node-app
    
    - name: Set env variables
      run: |
          set MONGODB_URI=${{ env.MONGODB_URI }}
      
    - name: 'Deploy to Azure Web App'
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'local-library-turma-hig-hmg'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_7fea88e1f7de4744b58c29b969fd864d }}
        package: .
    
  deploy-prd:
    runs-on: ubuntu-latest
    needs: deploy-hmg
    environment:
      name: 'PRD'
      url: ${{ steps.deploy-to-webapp.outputs.webapp-url }}

    steps:
    - name: Download artifact from build job
      uses: actions/download-artifact@v2
      with:
        name: node-app
    
    - name: Set env variables
      run: |
          set MONGODB_URI=${{ env.MONGODB_URI }} 

    - name: 'Deploy to Azure Web App'
      id: deploy-to-webapp
      uses: azure/webapps-deploy@v2
      with:
        app-name: 'local-library-turma-hig-prd'
        slot-name: 'production'
        publish-profile: ${{ secrets.AzureAppService_PublishProfile_f8cbe01a6f5b4037b891966110540126 }}
        package: .
